# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm
.yarn-integrity
.env
.env.*
!.env.example

# IDE & OS files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
.DS_Store
Thumbs.db

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml